.App {
  padding: 50px;
  text-align: left;
  display:flex;
  height: 500px;
}
.ToDoInput {
width:40vw;
background:aliceblue;
border-radius:10px;
}
.ToDoList {
  width:40vw;
  background:aliceblue;
  margin-left: 100px;  
  border-radius:10px;
}
.add-button{
  padding-top: 10px;
  float: right;
  padding-right: 10px;
}
.list-title {
  background-color: #3f51b5;
  color: aliceblue;
  height: 15%;
  text-align: center;
  margin-top:0px;
}
.ListItems {
  height: 80%;
  overflow-y: auto;
}
.MuiListItemText-root {
  word-break: break-word;
}
.MuiFormControl-root{
  width:100%;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
